<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>23076296064-chj8audu1a5leu3nn76lbc40bojhrfu4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.23076296064-chj8audu1a5leu3nn76lbc40bojhrfu4</string>
	<key>API_KEY</key>
	<string>AIzaSyBi5WtvRzHHBhv51TRpnd3k6cjCJafaJDU</string>
	<key>GCM_SENDER_ID</key>
	<string>23076296064</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todolist</string>
	<key>PROJECT_ID</key>
	<string>nonna-esterina</string>
	<key>STORAGE_BUCKET</key>
	<string>nonna-esterina.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:23076296064:ios:261cd9962aca4eb1aedd65</string>
</dict>
</plist>